.container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.bd-navbar .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
}

.alert {
    margin-top: 1rem;
}

.btn-primary {
    background-color: #07608e;
    border-color: #07608e;
}

.btn-primary:hover {
    background-color: #05496c;
    border-color: #07608e;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #05496c;
    border-color: #07608e;
}

.btn-primary:active {
    background-color: #054261 !important;
    border-color: #07608e !important;
}
